*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'open sans';
  font-size: 16px;
}

header{
  height: 700px;
  position: relative;
  background-image: url(logo.jpg);
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  padding-top: 130px;
  
}

header::before {
  content: "";
  display: block;
  margin-bottom: 80px;
}
nav {
  width: 100%;
  height: 80px;
  background: #fff;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: ease-in-out 0.5s;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
  align-items: center;
  padding: 0px 0px;
}

.nav .logo{
  height: 80px;

}

.nav .logo img{
  height: 100%;
  border-radius: 55%;
}

.enlaces-header{
  font-size: 22px;
  transition: ease-in-out 0.5s;
  padding-left: 450px;
}

.nav .enlaces-header a{
  color: #5D6678;
  text-decoration: none;
  margin-left: 20px;
}

.hamburguer{
  width: 80px;
  height: 80px;
  display: none;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  transition: color 0.7s ease-in;
}

.hamburguer > i{
  font-size: 25px;
  line-height: 80px;
}


.sesgoabajo-header{
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 350vh 2000vw;
  border-style: solid;
  border-color: transparent transparent #fff8ff transparent;
}

.sesgoabajo{
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 600vw;
  border-style: solid;
  border-color: transparent transparent #fff8ff transparent;
}

.sesgoarriba{
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width:35vh 100vw 0 0 ;
  border-style: solid;
  border-color: #fff8ff transparent transparent transparent;
}

.sesgoarribaFotos{
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width:10vh 100vw 0 0 ;
  border-style: solid;
  border-color: #fff8ff transparent transparent transparent;
}


.sesgoabajo-fotos{
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 10vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff8ff transparent;
}

.acerca-de{
  background: #fff8ff;
  height: auto;
  text-align: center;
  text-justify: auto;
  width: auto;
}
.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 52px 0;
  text-align: center;
}

.sobre-nosotros{
  margin-top: 30px;
  text-align: center;
  font-size: 65px;
  margin-bottom: 10px;
  font-weight: 600;
}

.parrafo{
  max-width: 750px;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 300;
  margin-left: 130px;
}

.galeria{
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.imagenes{
  width: 20%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.imagenes img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.encima{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff8ff;

}

.encima .boton {
  margin-top: 70%;
  display: inline-block;
  margin-left: 30%;
  padding: 6px;
  width: 128px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
  background: #fff;
}

.encima .boton:hover{
  background: #fff8ff;

}


.fondo{
  height: 900px;
  position: relative;
  background-image: url(logo.jpg);
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  padding-top: 130px;
}

.sesgoabajo-unico{
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff8ff transparent;
}


footer{
  background:#fff8ff;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: auto;

}

.partfooter{
  width: 33%;
  justify-content: space-evenly;
  padding-left: 150px;
}

.partfooter h4{
 margin-top: 45px;
  color:#1d273b;
  font-size: 20px;
  font-weight: 200;
}

.partfooter a{
  text-decoration: none;
  color: #5D6678;
  font-weight: 200;
  transition: color 0.3s ease-in-out;
  margin-left: 15px;
}

.partfooter>img{
  width: 85%;
  border-radius: 55%;
  }

.social-media i{
  font-size: 20px;
  color: #adb6c7;
  border: 1px solid #adb6c7;
  border-radius: 50%;
  width: 38px;
  height: 38px;   
  display: inline-block;
  line-height: 36px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  transition: all ease-in-out 0.3s;
  margin-right: 5px;
}

.social-media i:hover{
  color: #fff;
  background-color: #ebace7;
  border-color: #ebace7;
}


@media screen and (max-width:900px) {
  .card{
    width: 48%;
  }
}

@media screen and (max-width:610px) {
  header .textos{
    margin-top: 130px;
  }
  header .titulo{
    font-size: 75px;
  }
  .none{display: none}
  .imagenes{
    flex-grow: 1;
  }

.card{
  width: 90%;
}
.fondo{
  height: auto;
}
.especial{
  display: none;
}
.cliente{
  width: 90%;
  height: 200px;
  margin-bottom: 50px;
}
}

@media screen and (max-width:380px) {
  header .textos{
    margin-top: 100px;
  }

  header .titulo{
    font-size: 65px;
  }

  header .subtitulo{
    font-size: 25px
  }
  .sobre-nosotros{
    font-size: 46px;
  }
  .slogan{
    font-size: 18px;
  }
.titulo-patrocinadores{
  font-size: 46px
}

.subtitulo-patrocinadores{
  font-size: 20px;
}
}
